# OS junk
.DS_Store
Thumbs.db

# Node/npm stuff
node_modules/
package-lock.json

# Firebase / secrets
*.env
firebase-adminsdk.json

# Build artifacts
dist/
build/

# Logs
*.log

# VSCode settings
.vscode/

# Duplicate or working copies
/public/styles.css
/public/config.js
/public/profile.html
