# OS junk
.DS_Store
Thumbs.db

# Node/npm stuff
node_modules/
package-lock.json
config.js

# Firebase / secrets
*.env
.env
firebase.json
firebase-adminsdk.json

# Build artifacts
dist/
build/

# Logs
*.log

# VSCode settings
.vscode/

# Sensitive guides
sporebot_guide.txt

node_modules/
package-lock.json